.--border {
    @each $nombre, $valor in $sizesPx {
        &-#{$nombre} {
            border-style: solid;
            border-width: $valor;
        }
    }

    @include generic($colors, border-color);

    &-bottom {
        @include borderDirection(bottom);
    }

    &-top {
        @include borderDirection(top);
    }

    &-right {
        @include borderDirection(right);
    }

    &-left {
        @include borderDirection(left);
    }

    &-x {
        @each $nombre, $valor in $sizesPx {
            &-#{$nombre} {
                border-style: solid;
                border-width: 0 $valor 0 $valor;
            }
        }
    }

    &-y {
        @each $nombre, $valor in $sizesPx {
            &-#{$nombre} {
                border-style: solid;
                border-width: $valor 0 $valor 0;
            }
        }
    }

    @include breakpoint(xs) {
        &-xs {
            @each $nombre, $valor in $sizesPx {
                &-#{$nombre} {
                    border-style: solid;
                    border-width: $valor;
                }
            }

            @include generic($colors, border-color);

            &-bottom {
                @include borderDirection(bottom);
            }

            &-top {
                @include borderDirection(top);
            }

            &-right {
                @include borderDirection(right);
            }

            &-left {
                @include borderDirection(left);
            }

            &-x {
                @each $nombre, $valor in $sizesPx {
                    &-#{$nombre} {
                        border-style: solid;
                        border-width: 0 $valor 0 $valor;
                    }
                }
            }

            &-y {
                @each $nombre, $valor in $sizesPx {
                    &-#{$nombre} {
                        border-style: solid;
                        border-width: $valor 0 $valor 0;
                    }
                }
            }
        }
    }

    @include breakpoint(sm) {
        &-sm {
            @each $nombre, $valor in $sizesPx {
                &-#{$nombre} {
                    border-style: solid;
                    border-width: $valor;
                }
            }

            @include generic($colors, border-color);

            &-bottom {
                @include borderDirection(bottom);
            }

            &-top {
                @include borderDirection(top);
            }

            &-right {
                @include borderDirection(right);
            }

            &-left {
                @include borderDirection(left);
            }

            &-x {
                @each $nombre, $valor in $sizesPx {
                    &-#{$nombre} {
                        border-style: solid;
                        border-width: 0 $valor 0 $valor;
                    }
                }
            }

            &-y {
                @each $nombre, $valor in $sizesPx {
                    &-#{$nombre} {
                        border-style: solid;
                        border-width: $valor 0 $valor 0;
                    }
                }
            }
        }
    }

    @include breakpoint(md) {
        &-md {
            @each $nombre, $valor in $sizesPx {
                &-#{$nombre} {
                    border-style: solid;
                    border-width: $valor;
                }
            }

            @include generic($colors, border-color);

            &-bottom {
                @include borderDirection(bottom);
            }

            &-top {
                @include borderDirection(top);
            }

            &-right {
                @include borderDirection(right);
            }

            &-left {
                @include borderDirection(left);
            }

            &-x {
                @each $nombre, $valor in $sizesPx {
                    &-#{$nombre} {
                        border-style: solid;
                        border-width: 0 $valor 0 $valor;
                    }
                }
            }

            &-y {
                @each $nombre, $valor in $sizesPx {
                    &-#{$nombre} {
                        border-style: solid;
                        border-width: $valor 0 $valor 0;
                    }
                }
            }
        }
    }

    @include breakpoint(lg) {
        &-lg {
            @each $nombre, $valor in $sizesPx {
                &-#{$nombre} {
                    border-style: solid;
                    border-width: $valor;
                }
            }

            @include generic($colors, border-color);

            &-bottom {
                @include borderDirection(bottom);
            }

            &-top {
                @include borderDirection(top);
            }

            &-right {
                @include borderDirection(right);
            }

            &-left {
                @include borderDirection(left);
            }

            &-x {
                @each $nombre, $valor in $sizesPx {
                    &-#{$nombre} {
                        border-style: solid;
                        border-width: 0 $valor 0 $valor;
                    }
                }
            }

            &-y {
                @each $nombre, $valor in $sizesPx {
                    &-#{$nombre} {
                        border-style: solid;
                        border-width: $valor 0 $valor 0;
                    }
                }
            }
        }
    }

    @include breakpoint(xl) {
        &-xl {
            @each $nombre, $valor in $sizesPx {
                &-#{$nombre} {
                    border-style: solid;
                    border-width: $valor;
                }
            }

            @include generic($colors, border-color);

            &-bottom {
                @include borderDirection(bottom);
            }

            &-top {
                @include borderDirection(top);
            }

            &-right {
                @include borderDirection(right);
            }

            &-left {
                @include borderDirection(left);
            }

            &-x {
                @each $nombre, $valor in $sizesPx {
                    &-#{$nombre} {
                        border-style: solid;
                        border-width: 0 $valor 0 $valor;
                    }
                }
            }

            &-y {
                @each $nombre, $valor in $sizesPx {
                    &-#{$nombre} {
                        border-style: solid;
                        border-width: $valor 0 $valor 0;
                    }
                }
            }
        }
    }
}

.dark {
    .--td-border {
        @include generic($colors, border-color);
    }
}

.light {
    .--tw-border {
        @include generic($colors, border-color);
    }
}

.--radius {
    @include generic($radius, border-radius);
}

.--circle {
    @include createCircle();
}
