$colors: (
    light: $white,
    dark: $dark,
    gray-1: $gray-1,
    gray-2: $gray-2,
    gray-3: $gray-3,
    gray-4: $gray-4,
    gray-5: $gray-5,
    gray-6: $gray-6,
    gray-7: $gray-7,
    gray-8: $gray-8,
    gray-9: $gray-9,
    success: $success,
    error: $error,
    warning: $warning,
    trans: transparent,
    success-1: $success-1,
    success-2: $success-2,
    success-3: $success-3,
    success-4: $success-4,
    success-5: $success-5,
    success-6: $success-6,
    success-7: $success-7,
    success-8: $success-8,
    success-9: $success-9,
    error-1: $error-1,
    error-2: $error-2,
    error-3: $error-3,
    error-4: $error-4,
    error-5: $error-5,
    error-6: $error-6,
    error-7: $error-7,
    error-8: $error-8,
    error-9: $error-9,
    warning-1: $warning-1,
    warning-2: $warning-2,
    warning-3: $warning-3,
    warning-4: $warning-4,
    warning-5: $warning-5,
    warning-6: $warning-6,
    warning-7: $warning-7,
    warning-8: $warning-8,
    warning-9: $warning-9,
);

$spaces: (
    0: 0px,
    1: 4px,
    2: 8px,
    3: 16px,
    4: 24px,
    5: 32px,
    100: 100px,
    200: 200px,
    300: 300px,
);

$devices: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
);

$sizes: (
    xs: 4px,
    sm: 8px,
    md: 16px,
    lg: 24px,
);

$sizesPx: (
    none: 0,
    xs: 1px,
    sm: 2px,
    md: 3px,
    lg: 4px,
    xl: 5px,
);

$sizesRem: (
    none: 0,
    xs: 1rem,
    sm: 2rem,
    md: 3rem,
    lg: 4rem,
    xl: 5rem,
);

$flexDirection: (
    col: column,
    col-reverse: column-reverse,
    row: row,
    row-reverse: row-reverse,
);

$flexItems: (
    center: center,
    start: flex-start,
    end: flex-end,
    stretch: stretch,
);

$flexContent: (
    center: center,
    start: flex-start,
    end: flex-end,
    stretch: stretch,
    around: space-around,
    between: space-between,
    evenly: space-evenly,
);

$positions: (
    absolute: absolute,
    fixed: fixed,
    relative: relative,
    static: static,
    sticky: sticky,
);

$fontSizes: (
    xsmall: 12px,
    small: 14px,
    medium: 16px,
    large: 20px,
    xlarge: 24px,
    2xl: 30px,
    3xl: 38px,
    4xl: 46px,
    5xl: 56px,
    6xl: 68px,
);

$fontLineHeight: (
    xsmall: 20px,
    small: 22px,
    medium: 24px,
    large: 28px,
    xlarge: 32px,
    2xl: 38px,
    3xl: 46px,
    4xl: 54px,
    5xl: 64px,
    6xl: 76px,
);

$radius: (
    small: 4px,
    medium: 8px,
    large: 10px,
);

$gridCol: (
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
    11: 11,
    12: 12,
);

$circles: (
    xs: 22px,
    sm: 32px,
    md: 40px,
    lg: 48px,
);

$width: (
    full: 100%,
    view: 100vw,
);

$height: (
    full: 100%,
    view: 100vh,
);

$textAlign: (
    center: center,
    end: end,
    justify: justify,
    left: left,
    right: right,
    start: start,
    inherit: inherit,
    initial: initial,
);
