* {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
}

html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

#skip {
    scroll-margin-top: 3rem;
}
