$dark: #191919;
$white: #fff;

$gray-1: #fafafa;
$gray-2: #eaeaea;
$gray-3: #999999;
$gray-4: #888888;
$gray-5: #666666;
$gray-6: #444444;
$gray-7: #333333;
$gray-8: #111111;
$gray-9: #000000;

$success: #0070f3;

$error: #ee0000;

$warning: #f5a623;

$dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
$dropdown-triangle-stroke: #fff;

$scroller-start: var($gray-7);
$scroller-end: rgba(255, 255, 255, 0);

$shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
$shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
$shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);

$portal-opacity: 0.25;

$xs: 576px;
$sm: 768px;
$md: 960px;
$lg: 1280px;
$xl: 1900px;

$success-1: #cbecfe;
$success-2: #98d5fd;
$success-3: #64b8fb;
$success-4: #3d9cf7;
$success-5: #0070f3;
$success-6: #0056d0;
$success-7: #0040ae;
$success-8: #002d8c;
$success-9: #002074;

$error-1: #fedccb;
$error-2: #fdb297;
$error-3: #f97d63;
$error-4: #f44d3d;
$error-5: #ee0000;
$error-6: #cc0011;
$error-7: #ab001d;
$error-8: #8a0023;
$error-9: #720027;

$warning-1: #fef4d2;
$warning-2: #fee7a6;
$warning-3: #fcd57a;
$warning-4: #f9c258;
$warning-5: #f5a623;
$warning-6: #d28519;
$warning-7: #b06811;
$warning-8: #8e4d0b;
$warning-9: #753a06;

$highlight: #f81ce5;
$yellow: #FFF500;
$violet: #7928CA;